@import '_mixins';
@import '_variables';

*{
    margin: 0;
    border: 0;
    padding: 0;
}

.contenedor{
    margin: 0 auto;
    max-width: 1100px;
}

header{
    display: grid;
    grid-template-columns: 1fr;   
    img{
        max-width: 100%;
        justify-items: start;
    }
    
}

.navegador{
    margin-bottom: 1rem;
    background-color: black;
    ul{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        list-style: none;
        color: white;
        text-align: center;
    }
    li{
        padding: 10px;
    }
    li:hover {
        background-color: #c9c84a;
    }

    
}

.pizza1{
    margin-bottom: 1rem;
    img{
    max-width: 100%;
    }
}

.principal{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @include tablet(){
    grid-template-columns:minmax(10px, max-content) auto minmax(100px, max-content);
    grid-template-rows: repeat(4, auto);     
    }

    .lista{
    background-color: #c9c84a;
    list-style: none;
    text-align: center;
    @include tablet(){
        grid-column: 1/2;
        grid-row: 2/3;
        list-style: none;
        color: white;
        text-align: center;
            ul{
                align-self: center;
                li{
                    padding: 1rem;
                    align-self: center;
                }
            }
        }
    }

    .mini1{
        justify-self: center;
        @include tablet(){
            grid-column: 3/4;
            grid-row: 3/4;
            img{
                max-width: 100%;
            }
        }
    }

    .mini2{
        justify-self: center;
        @include tablet(){
            grid-column: 1/2;
            grid-row: 5/6;
            img{
                max-width: 100%;
            }
            
        }
    }

    .titulo{
        justify-self: center;
        @include tablet(){
            grid-column: 1/4;
            grid-row: 1/2;
        }
    }

    .texto{
         justify-self: center;
         @include tablet(){
            grid-column: 2/3;
            grid-row: 2/4 ;
         }
    }

    .texto2{
        justify-self: center;
        font-size: 20px;
        @include tablet(){
            grid-column: 2/3;
            grid-row: 4/5;
            text-align: center;
            align-self: center;
        }
    }

    .texto3{
        justify-self: center;
        @include tablet(){
            grid-column: 2/3;
            grid-row: 5/7;
        }
    }
    
}

//Footer
footer{
    background-color: #c9c84a;
}

.fArticulos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: #c9c84a;
    text-align: center;
    place-items: center;
  
    
}

.abajoF{
        background-color: black;
        color: white;
        display: grid;
        place-items:center;
        padding: 10px;
    }
